all authors list

<form action="/authors" method="get">
    
    <h2>Search Authors</h2>
    <label for="">Name</label>
    <input type="text"  name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>

<% authors.forEach(author => { %>
    
    <div><%= author.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    
        <!-- <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form> _method where we defined it on server.js -->
    
        <%- include('../partials/deleteForm',{url:`/authors/${author.id}`})  %>
    
    </div>
<%}); %>