<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',{url:`/authors/${author.id}`})%>

<!-- <% console.log(bookByAuthor)%> -->
<% if(bookByAuthor.length>0){ %>
    <h2>Books By Author</h2>
    <% bookByAuthor.forEach(book => { %>
        <!-- <div> -->
            <img src="<%= book.coverImagePath %>" width="100" height="150">
            <!-- <span><%= book.title %></span> -->

        <!-- </div> -->
    <%}); %>
<% } %>